<div class="col-md-3 col-sm-6 col-xs-12 <%= it.className %>>">
    <div class="portfolio__item">
        <div class="portfolio__item--description">
            <h3><%= it.project %></h3>
            <a href="#"><%= it.firstCategory %></a>
            <a href="#"><%= it.secondCategory %></a>
            <a href="<%= it.link %>" class="button">view project</a>
        </div>
    </div>
</div>